.socialNav {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding: 1rem;
  backdrop-filter: blur(100%);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0px;
  overflow: hidden;

}

[data-theme='dark'] .socialNav {
  background-color: rgba(34, 34, 34, 0.85);
}

.socialIcon {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.socialIcon:hover {
  opacity: 1;
  transform: scale(1.1) rotate(4deg);
}

.blogIcon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}


  @media(max-width: 480px){
      .socialNav {
    top: 70px;
    left: 275px;
    gap: 0.6rem;
    padding: 0.1rem;
    position: relative;
    backdrop-filter: blur(100%);

  }
  
  .socialIcon {
    width: 30px;
    height: 30px;
    transition: transform 0.1s ease, opacity 0.1s ease;
    cursor: pointer;

  }

  .blogIcon {
    width: 40px;
    height: 45px;
    border-radius: none;
  }
      @keyframes tap {
    0% { transform: scale(0.88); opacity: 0.6; }
    100% { transform: scale(1); opacity: 0.9; }
  }

    .blogIcon,.socialIcon:not(:active) {
    animation: tap 0.15s ease-out;
  }

  }
@media (hover: none) and (pointer: coarse){
   .socialIcon:hover {
  opacity: 0.9;
  transform: none;
 }
  .socialIcon:active{
  opacity: 0.7;
  transform: scale(0.88);
  transition: transform 0.05s ease, opacity 0.05s ease;
 }
     .blogIcon:active {
    opacity: 0.7;
    transform: scale(0.88);
  }
      @keyframes tap {
    0% { transform: scale(0.88); opacity: 0.6; }
    100% { transform: scale(1); opacity: 0.9; }
  }

    .blogIcon,.socialIcon:not(:active) {
    animation: tap 0.15s ease-out;
  }
}


  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 480px) {
    .socialNav {
    top: 61px;
    left: 275px;
    gap: 0.6rem;
    padding: 0.1rem;
    position: relative;
    backdrop-filter: blur(100%);
  }
 .socialIcon:hover {
  opacity: 0.9;
  transform: none;
 }

 .socialIcon:active{
  opacity: 0.7;
  transform: scale(0.88);
  transition: transform 0.05s ease, opacity 0.05s ease;
 }

  .blogIcon {
    width: 40px;
    height: 45px;
    border-radius: none;
  }
    .blogIcon:active {
    opacity: 0.7;
    transform: scale(0.88);
  }
    @keyframes tap {
    0% { transform: scale(0.88); opacity: 0.6; }
    100% { transform: scale(1); opacity: 0.9; }
  }

    .blogIcon,.socialIcon:not(:active) {
    animation: tap 0.15s ease-out;
  }

}

@media (min-device-width: 834px) and (max-device-width: 1210px){
    .socialNav {
    top: 115px;
    left: 575px;
    gap: 0.6rem;
    padding: 0.1rem;
    position: relative;
    backdrop-filter: blur(100%);
  }
  .socialIcon {
    height: 50px;
    width: 45px;
  }
  .blogIcon{
    height: 70px;
    width: 70px;
  }

}


